<%- include("./Partials/header")%>
    

    <div class="container mt-3">
        <%- include("./Partials/flash")%>
        <h1>This is Error Page</h1>
    </div>
   
<%- include("./Partials/footer")%>